<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.EnvairMapper">

    <resultMap type="Envair" id="EnvairResult">
        <result property="id"    column="id"    />
        <result property="rain"    column="rain"    />
        <result property="flow"    column="flow"    />
        <result property="wlevel"    column="wlevel"    />
        <result property="ph"    column="ph"    />
        <result property="pm"    column="pm"    />
        <result property="temp"    column="temp"    />
        <result property="hum"    column="hum"    />
        <result property="aid"    column="aid"    />
        <result property="time"    column="time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEnvairVo">
        select id, rain, flow, wlevel, ph, pm, temp, hum, aid, time, remark from rivervis.env_data
    </sql>

    <select id="selectEnvairPm" resultMap="EnvairResult">
        select round(pm,0) as id,time
        from rivervis.env_data
        order by time
    </select>

</mapper>