<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.WaterMapper">

    <resultMap type="Water" id="WaterResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="rid"    column="rid"    />
        <result property="rname"    column="rname"    />
        <result property="data"    column="data"    />
        <result property="time"    column="time"    />
    </resultMap>

    <sql id="selectWaterVo">
        select id, type, rid, rname, data, time from iotdata.river_data
    </sql>

    <select id="selectWaterList" parameterType="Water" resultMap="WaterResult">
    <include refid="selectWaterVo"/>
    <where>
        <if test="id != null "> and id = #{id}</if>
        <if test="type != null  and type != '' "> and type LIKE CONCAT(CONCAT('%', #{type}),'%')</if>
        <if test="rid != null "> and rid = #{rid}</if>
        <if test="rname != null  and rname != '' "> and rname = #{rname}</if>
        <if test="data != null  and data != '' "> and data LIKE CONCAT(CONCAT('%', #{data}),'%')</if>
        <if test="time != null  and time != '' "> and time LIKE CONCAT(CONCAT('%', #{time}),'%')</if>
        ORDER BY id ASC
    </where>
    </select>

    <select id="selectWaterById" parameterType="Integer" resultMap="WaterResult">
    <include refid="selectWaterVo"/>
    where id = #{id}
    </select>

    <select id="selectWaterListByrname" resultMap="WaterResult">
    select rname,data
    from iotdata.river_data where rname like '%水库'
    order by rname ASC
    limit 6
    </select>

</mapper>