<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            终端ID：<input type="text" name="tid"/>
                        </li>

                        <!--<li>
                            用户身份等级：<input type="text" name="userlevel"/>
                        </li>-->

                        <li>
                            管理员名称：<input type="text" name="manager"/>
                        </li>

                        <!--<li>
                            广播用户地址：<input type="text" name="uaddress"/>
                        </li>-->

                        <li>
                            管理员电话：<input type="text" name="managertel"/>
                        </li>

                        <!--<li>
                            用户最后登录时间：<input type="text" name="lastdate"/>
                        </li>-->

                        <li>
                            是否可用：<input type="text" name="isuse"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="broad:terminaladmin:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="broad:terminaladmin:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="broad:terminaladmin:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "broad/terminaladmin";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{tid}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "终端管理员",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field : 'tid',
                    title : '终端设备IMEI',
                    visible: true
                },
                {
                    field : 'tname',
                    title : '终端设备名称',
                    sortable: true
                },
                {
                    field : 'manager',
                    title : '管理员名称',
                    sortable: true
                },
                {
                    field : 'managertel',
                    title : '管理员电话',
                    visible: true
                },
                {
                    field : 'createdtime',
                    title : '创建时间',
                    sortable: true
                },
                {
                    field : 'isuse',
                    title : '是否可用',
                    visible: true
                },

                {
                    field : 'terminaltype',
                    title : '终端类型 1:应急广播终端,2:后备能源型终端,3:发射机型终端',
                    sortable: true
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>